.vscode/**
.vscode-test/**
*.vsix
node_modules
out/**
src/**
src-webview/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/webpack.config.js
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
# Images in the README has to resolve with an https URL. vsce will replace relative
# paths with URL to the repository. Therefore, media should exist in the repo but should not be packaged.
media