/*
 * KIELER - Kiel Integrated Environment for Layout Eclipse RichClient
 *
 * http://rtsys.informatik.uni-kiel.de/kieler
 *
 * Copyright 2021 by
 * + Kiel University
 *   + Department of Computer Science
 *     + Real-Time and Embedded Systems Group
 *
 * This code is provided under the terms of the Eclipse Public License (EPL).
 */

.options__section {
    display: flex;
    flex-direction: column;
    margin-top: 12px;
}

.options__heading {
    margin: 0;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5;
}

/*********************************** BUTTON ***********************************/

/* These styles would normally be applied as attributes to feather icons but
snabbdom-jsx for svg does not add them to the created html elements. */
.options__icon {
    fill: none;
    stroke: currentColor;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.options__button-group {
    display: flex;
    gap: 4px;
}

.options__icon-button {
    box-sizing: border-box;
    appearance: none;
    border: none;
    border-radius: var(--default-border-radius);
    padding: 4px;
    
    color: inherit;
    background: transparent;
    transition: background var(--transition);
    cursor: pointer;
}

.options__icon-button:hover {
    background: rgba(0, 0, 0, 0.2);
}

.options__input-container {
    display: flex;
    flex-direction: column;
}

/* Indent inputs (wrapped by a label) inside a multi input group */
.options__input-container > label {
    margin-left: 8px;
}

.options__separator {
    display: block;
    margin: 8px 0;
}

.options__category {
    display: flex;
    flex-direction: column;
}

.options__category > :not(summary) {
    margin-left: 8px;
}
