:root {
    --color-primary: #0552b5;
    --color-accent-red: #cf1124;
}

body {
    margin: 0;
    height: 100vh;
}

#sprotty {
    width: 100%;
    height: 100%;
}

#sprotty > svg {
    width: 100%;
    height: 100%;
    outline: none;
}

#sprotty_hidden {
    /* Stop the sprotty_hidden container from participating in the page layout.
  A better solution would be "display: none", however this causes
  wrong text bound calculations. */
    position: fixed;
    top: 0;
    z-index: -1;
}
