#compiler-widget {
	font-size: var(--theia-ui-font-size1);
    padding: 6px;
    color: var(--theia-ui-font-color1);
    display: grid;
    grid-auto-rows: min-content;
}

#compiler-widget #compilation-panel {
    margin-top: 12px;
    display: flex;
}

#compiler-widget #compilation-list {
    line-height: var(--theia-content-line-height);
    font-size: var(--theia-ui-font-size1);
    border-width: 1px;
    border-style: solid;
    border-color: var(--theia-border-color1);
    background: var(--theia-layout-color0);
    color: var(--theia-ui-font-color1);

    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: linear-gradient(45deg, transparent 50%, var(--theia-ui-font-color1) 50%), linear-gradient(135deg, var(--theia-ui-font-color1) 50%, transparent 50%);
    background-position: calc(100% - 6px) 8px, calc(100% - 2px) 8px, 100% 0;
    background-size: 4px 5px;
    background-repeat: no-repeat;
}

#compiler-widget #compile-button {
    box-sizing: border-box;
    color: var(--theia-ui-button-font-color);
    background-color: var(--theia-ui-button-color);
    block-size: var(--theia-content-line-height);
    margin-left: calc(var(--theia-ui-padding)*2);
    line-height: var(--theia-content-line-height);
    border: none;
    border-radius: 0;
    outline: none;
    cursor: pointer;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 1px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 1px -2px rgba(0, 0, 0, 0.12);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    padding-left: 4px;
    padding-right: 4px;
}