.kico_widget {
    font-size: var(--theia-ui-font-size1);
    color: var(--theia-ui-font-color1);
    text-align: center;
}

.flexcontainer {
    display: flex;
}

.text_widget {
    font-size: var(--theia-ui-font-size1);
    color: var(--theia-ui-font-color1);
    display: block;
    margin-left: 20px
}

button, .show-button {
    border: none;
    border-radius: 0;
    color: var(--theia-ui-button-font-color);
    min-width: 5px;
    min-height: 5px;
    outline: none;
    cursor: pointer;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-left: calc(var(--theia-ui-padding)*2);
    border-radius: 1px;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 1px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 1px -2px rgba(0, 0, 0, 0.12);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.show-button.red {
    background-color: var(--theia-error-color1);
}
.show-button.yellow {
    background-color: var(--theia-warn-color1);
}
.show-button.blue {
    background-color: var(--theia-ui-button-color);
}

