.simulation-widget {
    font-size: var(--theia-ui-font-size1);
    color: var(--theia-foreground);
}

.simulation-table {
    margin: 20px;
    width: 100%;
}

.simulation-data-table {
    width: 95%;
    margin-right: 50px;
    border-collapse: collapse;
    border-spacing: 0;
}

.simulation-data-row {
    display: table-row;
    resize: horizontal;
}

.simulation-data-truncate {
    color: var(--theia-tab-activeForeground);
    border: 1px solid var(--theia-tab-border);
    background-color: var(--theia-tab-activeBackground);
    border-collapse: collapse;
    white-space: nowrap;
    overflow: auto;
    max-width: 1px;
    resize: horizontal;
}

.simulation-data-inputbox::placeholder {
    font-style: italic;
}

.simulation-data-inputbox {
    border: 0px;
    width: 98%;
    padding-left: 1%;
    padding-right: 1%;
}

.simulation-data-button {
    display: inline-block;
    border: none;
    border-radius: 0;
    color: var(--theia-button-foreground);
    background-color: var(--theia-button-background);
    min-width: 5px;
    min-height: 5px;
    outline: none;
    cursor: pointer;
    border-radius: 1px;
    box-shadow: 0px 1px 5px 0px var(--theia-checkbox-border), 0px 1px 2px 0px var(--theia-checkbox-border), 0px 1px 1px -2px var(--theia-checkbox-border);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    width: 100%;
}

.preference-button {
    color: var(--theia-button-foreground);
    background-color: var(--theia-button-background);
    block-size: var(--theia-content-line-height);
    line-height: var(--theia-content-line-height);
    margin-left: 1px;
    margin-right: 1px;
    border: none;
    border-radius: 0;
    outline: none;
    cursor: pointer;
    box-shadow: 0px 1px 5px 0px var(--theia-checkbox-border), 0px 1px 2px 0px var(--theia-checkbox-border), 0px 1px 1px -2px var(--theia-checkbox-border);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    margin-top: auto;
    margin-bottom: auto;
    height: fit-content;
}

.preference-button.off {
    background-color: var(--theia-button-disabledBackground);
    color: var(--theia-button-disabledForeground);
}

.simulation-panel {
    margin-top: 12px;
    display: flex;
    margin-left: calc(var(--theia-ui-padding)*2);
}

.icon {
    font-size: 1em;
    vertical-align: middle;
    text-align: center;
}

.simulation-history-inputbox {
    border: 0px;
    width: 98% !important;
    max-width: unset !important;
    padding-left: 1%;
    padding-right: 1%;
}

.compile-button {
    color: var(--theia-button-foreground);
    background-color: var(--theia-button-background);
    block-size: var(--theia-content-line-height);
    line-height: var(--theia-content-line-height);
    margin-left: 1px;
    margin-right: 1px;
    border: none;
    border-radius: 0;
    outline: none;
    cursor: pointer;
    box-shadow: 0px 1px 5px 0px var(--theia-checkbox-border), 0px 1px 2px 0px var(--theia-checkbox-border), 0px 1px 1px -2px var(--theia-checkbox-border);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    margin-top: auto;
    margin-bottom: auto;
    height: fit-content;
}

.rotate180 {
    transform: rotate(180deg);
}

simulation-td {
    border: 2px solid black;
    padding: 0;
    margin: 0px;
    resize: horizontal;
}

.simulation-div {
    margin: 0px;
    padding: 0px;
    display:block;
    resize: horizontal;
}

.simulation-speed-input-box {
    width: 50px;
}

.step-counter {
    padding-left: 5px;
    padding-top: 5px;
}

.inactive-input-box {
    background-color: var(--theia-tab-inactiveBackground);
    color: var(--theia-tab-inactiveForeground);
}

.setwidth {
    min-width: 40px;
}

.setwidth-h {
    min-width: 200px;
}