.simulation-widget {
    font-size: var(--theia-ui-font-size1);
    color: var(--theia-ui-font-color1);
}

.simulation-table {
    margin: 20px
}

.simulation-data-row {
    display: table-row
}

.simulation-data-truncate {
    color: var(--theia-ui-font-color1);
    border: 1px solid var(--theia-ui-font-color1);
    border-collapse: collapse;
    white-space: nowrap;
    overflow: auto;
    max-width: 1px;
}


.simulation-data-fix-size {
    color: var(--theia-ui-font-color1);
    border: 1px solid var(--theia-ui-font-color1);
    border-collapse: collapse;
    white-space: nowrap;
    overflow: auto;
}
.simulation-data-inputbox::placeholder {
    font-style: italic;
}

.simulation-data-inputbox {
    border: 0px;
    width: 98%;
    padding-left: 1%;
    padding-right: 1%;
}

.simulation-data-button {
    display: inline-block;
    border: none;
    border-radius: 0;
    color: var(--theia-ui-button-font-color);
    background-color: var(--theia-ui-button-color);
    min-width: 5px;
    min-height: 5px;
    outline: none;
    cursor: pointer;
    border-radius: 1px;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 1px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 1px -2px rgba(0, 0, 0, 0.12);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    width: 100%;
    /* border-width: medium;    
    border-style: solid; */
}

.preference-button {
    background-color: var(--theia-ui-button-color);
    color: var(--theia-ui-button-font-color);
    block-size: var(--theia-content-line-height);
    line-height: var(--theia-content-line-height);
    margin-left: 1px;
    margin-right: 1px;
    border: none;
    border-radius: 0;
    outline: none;
    cursor: pointer;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 1px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 1px -2px rgba(0, 0, 0, 0.12);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    margin-top: auto;
    margin-bottom: auto;
    height: fit-content;
}

.preference-button.off {
    background-color: var(--theia-ui-button-color-secondary);
    color: var(--theia-ui-button-font-color-secondary);
}

.right-aligned-button {
    margin-left: auto;
    margin-right: 5px;
}

.simulation-panel {
    margin-top: 12px;
    display: flex;
    margin-left: calc(var(--theia-ui-padding)*2);
}

.icon {
    font-size: 1em;
    vertical-align: middle;
    text-align: center;
}

.selection-list {
    line-height: var(--theia-content-line-height);
    font-size: var(--theia-ui-font-size1);
    border-width: 2px;
    border-style: solid;
    border-color: var(--theia-border-color1);
    background: var(--theia-layout-color0);
    color: var(--theia-ui-font-color1);
    margin-left: 1px;
    margin-right: 1px;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: linear-gradient(45deg, transparent 50%, var(--theia-ui-font-color1) 50%), linear-gradient(135deg, var(--theia-ui-font-color1) 50%, transparent 50%);
    background-position: calc(100% - 6px) 8px, calc(100% - 2px) 8px, 100% 0;
    background-size: 4px 5px;
    background-repeat: no-repeat;
}

.simulation-history-inputbox {
    border: 0px;
    width: 98%;
    padding-left: 1%;
    padding-right: 1%;
}

/* .simulation-data-box.history {
} */
.compile-button {
    color: var(--theia-ui-button-font-color);
    background-color: var(--theia-ui-button-color);
    block-size: var(--theia-content-line-height);
    line-height: var(--theia-content-line-height);
    margin-left: 1px;
    margin-right: 1px;
    border: none;
    border-radius: 0;
    outline: none;
    cursor: pointer;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 1px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 1px -2px rgba(0, 0, 0, 0.12);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    margin-top: auto;
    margin-bottom: auto;
    height: fit-content;
}

.rotate180 {
    transform: rotate(180deg);
}

table {
    border-collapse: collapse;
    border-spacing: 0px;
}
simulation-td {
    border: 2px solid black;
    padding: 0;
    margin: 0px;
}

.simulation-div {
    margin: 0px;
    padding: 0px;
    display:block;
}

th div {
    border: 0;
    min-height: 20px;
    min-width: 20px;
    display: inline-block;
    width: 120px;
}

.simulation-speed-input-box {
    width: 50px;
}

.step-counter {
    padding-left: 5px;
    padding-right: 5px;
}

.inactive-input-box {
    background: var(--theia-layout-color0)
}