/*
 * KIELER - Kiel Integrated Environment for Layout Eclipse RichClient
 *
 * http://rtsys.informatik.uni-kiel.de/kieler
 *
 * Copyright 2021 by
 * + Kiel University
 *   + Department of Computer Science
 *     + Real-Time and Embedded Systems Group
 *
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0.
 *
 * SPDX-License-Identifier: EPL-2.0
 */

@import './theme.css';
@import './options.css';
@import './popup.css';
@import './sidebar.css';
@import 'sprotty/css/sprotty.css';

.sprotty {
    /* Disable text selection in diagrams and sidebar panels. */
    user-select: none;
}

button > svg {
    /* Resets extra button height that is caused by an svg child */
    vertical-align: bottom;
    /* sprotty-vscode overwrites the with of svg tags to 100% which causes a scaling bug for
  icon buttons when the user applies zoom. Disable this lines to see it for yourself... ;) */
    width: auto;
    height: auto;
}

/* Used to be able to force a white background for the diagram view instead of a themed background. */
.light-bg {
    background: #f7f7f7;
}
