/*
 * KIELER - Kiel Integrated Environment for Layout Eclipse RichClient
 *
 * http://rtsys.informatik.uni-kiel.de/kieler
 *
 * Copyright 2021-2024 by
 * + Kiel University
 *   + Department of Computer Science
 *     + Real-Time and Embedded Systems Group
 *
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0.
 *
 * SPDX-License-Identifier: EPL-2.0
 */

/* Set of CSS variables used in klighd-core. All variables should be prefixed with "kdc" */

:root {
    /* Behavior and sizing variables */
    --kdc-transition: 200ms ease-in-out;
    --kdc-border-radius-default: 4px;
    --kdc-font-size-base: 16px;
    --kdc-sidebar-shadow: 0 15px 25px rgba(0, 0, 0, 0.15), 0 5px 10px rgba(0, 0, 0, 0.05);
    --kdc-sidebar-button-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

    /* Color semantic theme token (no "dump" token like gray100 etc.
    but rather scoped to where they should be applied). Allows for finer theme control. */
    --kdc-color-sidebar-background: white;
    --kdc-color-sidebar-trigger-background: white;
    --kdc-color-sidebar-trigger-background-hover: hsl(0, 0%, 88%);
    --kdc-color-sidebar-trigger-background-active: hsl(0, 0%, 81%);
    --kdc-color-sidebar-hover-background: rgba(0, 0, 0, 0.15);
    --kdc-color-sidebar-font-primary: hsl(0, 0%, 12%);
    --kdc-color-sidebar-icon-primary: hsl(0, 0%, 24%);
    --kdc-color-primary: #0552b5;
    --kdc-color-findMatchBackground: rgb(255, 165, 0);
    --kdc-color-findMatchForeground: rgb(0, 0, 0);
    --kdc-color-findMatchBorder: rgb(90, 90, 90);
    --kdc-color-findMatchHighlightBackground: rgb(255, 255, 0);
    --kdc-color-findMatchHighlightForeground: rgb(0, 0, 0);
    --kdc-color-findMatchHighlightBorder: rgb(113, 113, 113);

}
@media (prefers-color-scheme: dark) {
    :root {
        --kdc-color-sidebar-background: rgb(37, 37, 37);
        --kdc-color-sidebar-trigger-background: rgb(37, 37, 37);
        --kdc-color-sidebar-trigger-background-hover: rgb(4, 57, 94);
        --kdc-color-sidebar-trigger-background-active: rgb(55, 55, 61);
        --kdc-color-sidebar-hover-background: rgba(90, 93, 94, 0.31);
        --kdc-color-sidebar-font-primary: rgb(204, 204, 204);
        --kdc-color-sidebar-icon-primary: rgb(197, 197, 197);
        --kdc-color-primary: rgb(0, 127, 212);
        --kdc-color-findMatchBackground: rgb(255, 215, 140);
        --kdc-color-findMatchForeground: rgb(0, 0, 0);
        --kdc-color-findMatchBorder: rgb(231, 231, 231);
        --kdc-color-findMatchHighlightBackground: rgb(255, 255, 166);
        --kdc-color-findMatchHighlightForeground: rgb(0, 0, 0);
        --kdc-color-findMatchHighlightBorder: rgb(223, 223, 223);
    }
}
