.diagram-options-icon {
    background-image: var(--diagram-options-icon);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: unset !important;
}

.diagram-option-widget {
    display: inline-block;
    margin-left: calc(var(--theia-ui-padding)*2);
    margin-bottom: calc(var(--theia-ui-padding));
    overflow-x: visible;
    width: max-content;
}

.diagram-option {
    color: var(--theia-foreground);
    font-size: var(--theia-ui-font-size1);
    margin-top: calc(var(--theia-ui-padding));
}

.diagram-option-actions {
    color: var(--theia-foreground);
    font-size: var(--theia-ui-font-size1);
    display: inherit;
}

.diagram-option-choice {
    padding-left: 0px;
}

.diagram-option-choice-label {
    padding-left: calc(var(--theia-ui-padding)*2);
}

.diagram-option-range {
    color: var(--theia-foreground);
    display: grid;
    font-size: var(--theia-ui-font-size1);
    margin-top: calc(var(--theia-ui-padding));
}

.diagram-option-text {
    padding-left: calc(var(--theia-ui-padding)*2);
    font-size: var(--theia-ui-font-size1);
}

.category {
    font-size: var(--theia-ui-font-size1);
}

.category0 {
    font-size: var(--theia-ui-font-size1);
    background-color: var(--theia-editor-background);
}

.category1 {
    font-size: var(--theia-ui-font-size1);
    background-color: var(--theia-sidebar-background);
}

.category-options {
    padding: calc(var(--theia-ui-padding));
    padding-left: calc(var(--theia-ui-padding)*2);
}

.diagram-inputbox {
    color: var(--theia-checkbox-foreground);
    background-color: var(--theia-checkbox-background);
    align-content: center;
}

.separator {
    font-size: var(--theia-ui-font-size1);
    margin-top: calc(var(--theia-ui-padding));
    margin-bottom: calc(var(--theia-ui-padding));
}

input[type="checkbox"] {
    margin-top: auto;
    margin-bottom: auto;
    vertical-align: bottom;
}
input[type="radio"] {
    margin-top: auto;
    margin-bottom: auto;
    vertical-align: bottom;
}
input[type="range"] {
    width: 90%;
    max-width: 200px;
    padding-left: unset;
}
input[type="text"] {
    width: 90%;
    max-width: 200px;
    padding-left: unset;
}