.diagram-options-icon {
    background-image: var(--diagram-options-icon);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: unset !important;
}

.diagram-option-widget {
    display: inline-block;
    margin-left: 5px;
    margin-bottom: 10px;
}

.diagram-option {
    color: var(--theia-ui-font-color1);
    font-size: var(--theia-ui-font-size1);
    margin-top: 5px;
}

.diagram-option-actions {
    color: var(--theia-ui-font-color1);
    font-size: var(--theia-ui-font-size1);
    display: inherit;
}

.diagram-option-choice {
    padding-left: 0px;
}

.diagram-option-choice-label {
    padding-left: 5px;
}

.diagram-option-range {
    color: var(--theia-ui-font-color1);
    display: grid;
    font-size: var(--theia-ui-font-size1);
    margin-top: 5px;
}

.diagram-option-text {
    padding-left: 5px;
    font-size: var(--theia-ui-font-size1);
}

.category {
    font-size: var(--theia-ui-font-size1);
}

.category0 {
    font-size: var(--theia-ui-font-size1);
    background-color: var(--theia-layout-color0);
}

.category1 {
    font-size: var(--theia-ui-font-size1);
    background-color: var(--theia-layout-color1);
}

.category-options {
    padding: 5px;
}

.diagram-inputbox {
    color: var(--theia-ui-font-color2);
    align-content: center;
}

.separator {
    font-size: var(--theia-ui-font-size1);
    margin-top: 5px;
    margin-bottom: 5px;
}

input[type="checkbox"] {
    margin-top: auto;
    margin-bottom: auto;
    vertical-align: bottom;
}
input[type="radio"] {
    margin-top: auto;
    margin-bottom: auto;
    vertical-align: bottom;
}
input[type="range"] {
    width: 90%;
    max-width: 200px;
    padding-left: unset;
}
input[type="text"] {
    width: 90%;
    max-width: 200px;
    padding-left: unset;
}