.diagram-option-widget {
    margin-left: 5px;
    display: inline-block;
}

.diagram-option {
    color: var(--theia-ui-font-color1);
    font-size: var(--theia-ui-font-size1);
    margin-top: 5px;
}

.diagram-option-actions {
    color: var(--theia-ui-font-color1);
    font-size: var(--theia-ui-font-size1);
    display: inherit;
}

.diagram-option-choice {
    padding-left: 15px;
}

.diagram-option-range {
    color: var(--theia-ui-font-color1);
    display: grid;
    font-size: var(--theia-ui-font-size1);
    margin-top: 5px;
    padding-left: 15px;
}

.category {
    font-size: var(--theia-ui-font-size2);
    padding: 5px;
}

.category-options {
    padding: 5px;
}

.diagram-inputbox {
    color: var(--theia-ui-font-color2);
    align-content: center;
}

.seperator {
    font-size: var(--theia-ui-font-size2);
    margin-top: 20px
}

label {
    padding-left: 15px;
    text-indent: -15px;
}
input[type="checkbox"] {
    margin-top: auto;
    margin-bottom: auto;
    vertical-align: bottom;
}
input[type="radio"] {
    margin-top: auto;
    margin-bottom: auto;
    vertical-align: bottom;
}
input[type="range"] {
    width: 90%;
    max-width: 200px;
    padding-left: unset;
}