/*
 * KIELER - Kiel Integrated Environment for Layout Eclipse RichClient
 *
 * http://rtsys.informatik.uni-kiel.de/kieler
 *
 * Copyright 2021 by
 * + Kiel University
 *   + Department of Computer Science
 *     + Real-Time and Embedded Systems Group
 *
 * This code is provided under the terms of the Eclipse Public License (EPL).
 */

:root {
    --color-primary: #0552b5;
    --color-accent-red: #cf1124;
    --color-accent-yellow: #de911d;
    --color-accent-blue: #1992d4;
    --color-background: #f7f7f7;
}

body {
    margin: 0;
    height: 100vh;

    background: var(--color-background);
}

#sprotty {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#sprotty > svg {
    width: 100%;
    height: 100%;
    outline: none;
}

#sprotty_hidden {
    /* Stop the sprotty_hidden container from participating in the page layout.
  A better solution would be "display: none", however this causes
  wrong text bound calculations. */
    position: fixed;
    top: 0;
    z-index: -1;
}
