/*
 * KIELER - Kiel Integrated Environment for Layout Eclipse RichClient
 *
 * http://rtsys.informatik.uni-kiel.de/kieler
 *
 * Copyright 2021 by
 * + Kiel University
 *   + Department of Computer Science
 *     + Real-Time and Embedded Systems Group
 *
 * This code is provided under the terms of the Eclipse Public License (EPL).
 */

#popup-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;

    position: fixed;
    left: 24px;
    bottom: 24px;
}

.popup {
    box-sizing: border-box;
    padding: 16px;

    font-family: sans-serif;
    font-size: 16px;
    line-height: 1.5;

    background: white;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15), 0 3px 6px rgba(0, 0, 0, 0.1);
    border-top: 4px solid white;
    border-radius: 4px;
}

.popup--info {
  border-color: var(--color-accent-blue);
}
.popup--warn {
  border-color: var(--color-accent-yellow);
}
.popup--error {
  border-color: var(--color-accent-red);
}

.popup__title, .popup__message {
  margin: 0;
}

.popup__message {
  max-width: 400px;
  max-height: 300px;
  overflow: auto;
}
