/*
 * KIELER - Kiel Integrated Environment for Layout Eclipse RichClient
 *
 * http://rtsys.informatik.uni-kiel.de/kieler
 *
 * Copyright 2021 by
 * + Kiel University
 *   + Department of Computer Science
 *     + Real-Time and Embedded Systems Group
 *
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0.
 *
 * SPDX-License-Identifier: EPL-2.0
 */

/** The svg container has an outline when focused. It does not look nice so we remove it.*/
.sprotty-graph {
    outline: none;
}

/** Apply VS Code theme to klighd-core semantic theme tokens */
body {
    --kdc-color-sidebar-background: var(--vscode-sideBar-background);
    --kdc-color-sidebar-trigger-background: var(--vscode-sideBar-background);
    --kdc-color-sidebar-trigger-background-hover: var(--vscode-list-activeSelectionBackground);
    --kdc-color-sidebar-trigger-background-active: var(--vscode-list-inactiveSelectionBackground);
    --kdc-color-sidebar-hover-background: var(--vscode-toolbar-hoverBackground);
    --kdc-color-sidebar-font-primary: var(--vscode-foreground);
    --kdc-color-sidebar-icon-primary: var(--vscode-icon-foreground);
    --kdc-color-primary: var(--vscode-focusBorder);
}
