.show-button.black-white {
    color: var(--theia-ui-font-color1);
    border: 2px;
    background-color: var(--theia-layout-color0);
    border-color: var(--theia-ui-font-color1);
    box-shadow: 0px 1px 5px 0px var(--theia-ui-font-color1), 0px 1px 2px 0px var(--theia-ui-font-color1), 0px 1px 1px -2px var(--theia-ui-font-color1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.show-button.error.black-white {
    background-color: var(--theia-error-color1);
    color: var(--theia-error-font-color0);
    border-color: var(--theia-ui-font-color1);
}

.show-button.warn.black-white {
    background-color: var(--theia-warn-color1);
    color: var(--theia-warn-font-color0);
    border-color: var(--theia-ui-font-color1);
}

.show-button.info.black-white {
    background-color: var(--theia-info-color1);
    color: var(--theia-info-font-color0);
    border-color: var(--theia-ui-font-color1);
}

.preference-button.off.black-white {
    background-color: var(--theia-layout-color0);
    color: var(--theia-ui-font-color1);
    border-color: var(--theia-layout-color0);
}

.preference-button.black-white {
    color: var(--theia-layout-color0);
    background-color: var(--theia-ui-font-color1);
    border-color: var(--theia-layout-color0);
    border: 2px;
    box-shadow: 0px 1px 5px 0px var(--theia-ui-font-color1), 0px 1px 2px 0px var(--theia-ui-font-color1), 0px 1px 1px -2px var(--theia-ui-font-color1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.compile-button.black-white {
    color: var(--theia-layout-color0);
    background-color: var(--theia-ui-font-color1);
    border-color:var(--theia-layout-color0);
    border: 2px;
    box-shadow: 0px 1px 5px 0px var(--theia-ui-font-color1), 0px 1px 2px 0px var(--theia-ui-font-color1), 0px 1px 1px -2px var(--theia-ui-font-color1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.selection-list.black-white {
    border: 2px;
    box-shadow: 0px 1px 5px 0px var(--theia-ui-font-color1), 0px 1px 2px 0px var(--theia-ui-font-color1), 0px 1px 1px -2px var(--theia-ui-font-color1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}