.kico_widget {
    font-size: var(--theia-ui-font-size1);
    color: var(--theia-foreground);
    text-align: center;
}

.text_widget {
    font-size: var(--theia-ui-font-size1);
    color: var(--theia-foreground);
    display: block;
    margin-left: 20px;
    margin-right: 30px;
}

button, .show-button {
    display: inline-block;
    border: none;
    color: var(--theia-button-foreground);
    background-color: var(--theia-button-background);
    min-width: 5px;
    min-height: 5px;
    outline: none;
    cursor: pointer;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-left: calc(var(--theia-ui-padding)*2);
    margin-top: 12px;
    border-radius: 1px;
    box-shadow: 0px 1px 5px 0px var(--theia-checkbox-border), 0px 1px 2px 0px var(--theia-checkbox-border), 0px 1px 1px -2px var(--theia-checkbox-border);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    width: auto;
    /* border-width: medium;    
    border-style: solid; */
}

.show-button.error {
    background-color: var(--theia-notificationsErrorIcon-foreground);
    color: var(--theia-button-foreground);
}
.show-button.warn {
    background-color: var(--theia-notificationsWarningIcon-foreground);
    color: var(--theia-button-foreground);
}
.show-button.info {
    background-color: var(--theia-notificationsInfoIcon-foreground);
    color: var(--theia-button-foreground);
}
.compiler-widget {
	font-size: var(--theia-ui-font-size1);
    color: var(--theia-foreground);
    display: grid;
    grid-auto-rows: min-content;
}

.compilation-panel {
    margin-top: 12px;
    display: flex;
    margin-left: calc(var(--theia-ui-padding)*2);
}

.selection-list {
    line-height: var(--theia-content-line-height);
    font-size: var(--theia-ui-font-size1);
    border-width: 2px;
    border-style: solid;
    border-color: var(--theia-dropdown-border);
    background: var(--theia-dropdown-background);
    color: var(--theia-dropdown-foreground);
    margin-left: 1px;
    margin-right: 1px;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: linear-gradient(45deg, transparent 50%, var(--theia-dropdown-border) 50%), linear-gradient(135deg, var(--theia-dropdown-border) 50%, transparent 50%);
    background-position: calc(100% - 6px) 8px, calc(100% - 2px) 8px, 100% 0;
    background-size: 4px 5px;
    background-repeat: no-repeat;
}

.compile-button {
    color: var(--theia-button-foreground);
    background-color: var(--theia-button-background);
    block-size: var(--theia-content-line-height);
    line-height: var(--theia-content-line-height);
    margin-left: 1px;
    margin-right: 1px;
    border: none;
    border-radius: 0;
    outline: none;
    cursor: pointer;
    box-shadow: 0px 1px 5px 0px var(--theia-checkbox-border), 0px 1px 2px 0px var(--theia-checkbox-border), 0px 1px 1px -2px var(--theia-checkbox-border);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    margin-top: auto;
    margin-bottom: auto;
    height: fit-content;
}

.preference-button {
    background-color: var(--theia-button-background);
    color: var(--theia-button-foreground);
    block-size: var(--theia-content-line-height);
    line-height: var(--theia-content-line-height);
    margin-left: 1px;
    margin-right: 1px;
    border: none;
    border-radius: 0;
    outline: none;
    cursor: pointer;
    box-shadow: 0px 1px 5px 0px var(--theia-checkbox-border), 0px 1px 2px 0px var(--theia-checkbox-border), 0px 1px 1px -2px var(--theia-checkbox-border);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    margin-top: auto;
    margin-bottom: auto;
    height: fit-content;
}

.preference-button.off {
    background-color: var(--theia-button-secondaryBackground);
    color: var(--theia-button-secondaryForeground);
}

.icon {
    font-size: 1em;
    vertical-align: middle;
    text-align: center;
}

.style-list {
    width: fit-content;
    margin-left: 2px;
    margin-right: 2px;
    border: 1px;
}

.kicool-input {
    width: auto;
    line-height: var(--theia-content-line-height);
    font-size: var(--theia-ui-font-size1);
    border-width: 2px;
    border-style: solid;
    border-color: var(--theia-checkbox-border);
    background: var(--theia-input-background);
    color: var(--theia-input-foreground);
    margin-left: 1px;
    margin-right: 1px;
    height: fit-content;
}

.kicool-input::placeholder {
    font-style: italic;
}

.buttonContainer {
    display: inline-block
}

.snapshot-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: left;
}
