# Workflow that creates artifacts of the latest dev versions.
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: package

on:
    push:
        branches: [main]

jobs:
    package:
        name: Package applications
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v2
            - uses: actions/cache@v3
              with:
                  path: '**/node_modules'
                  key: ${{ runner.os }}-node-modules-${{ hashFiles('**/yarn.lock') }}
            - uses: actions/setup-node@v2
              with:
                  node-version: 24.x
                  registry-url: 'https://registry.npmjs.org'
                  scope: '@kieler'
            - run: yarn
            - run: yarn package
            # Artifacts have a few limitation and will always be zips. See: https://github.com/actions/upload-artifact#zipped-artifact-downloads
            - uses: actions/upload-artifact@v4
              with:
                  name: klighd-cli
                  path: applications/klighd-cli/bin
                  if-no-files-found: error
            - uses: actions/upload-artifact@v4
              with:
                  name: klighd-vsix
                  path: applications/klighd-vscode/klighd-vscode.vsix
                  if-no-files-found: error
