# Workflow that publishes the VSCode extension to the VS Marketplace and attaches
# assets to the new release.

name: publish

on:
    release:
        types: [published]

jobs:
    distribute:
        name: "Distribute VSCode extension"
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v2
            - uses: actions/setup-node@v2
              with:
                  node-version: "14.x"
            - run: yarn
            - run: yarn distribute
              env:
                  VSCE_PAT: ${{ secrets.VSCE_PAT }}
                  OVSX_PAT: ${{ secrets.OVSX_PAT }}
    release-assets:
        name: "Add assets to release"
        runs-on: ubuntu-latest

        # Github has no official action for this. Uses: https://github.com/JasonEtco/upload-to-release
        # Uploads each CLI asset separately to create more targeted download options
        steps:
            - uses: actions/checkout@v2
            - uses: actions/setup-node@v2
              with:
                  node-version: "14.x"
            - run: yarn
            - run: yarn package

            - name: Upload VSIX
              uses: JasonEtco/upload-to-release
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              with:
                  args: ./applications/klighd-vscode/klighd-vscode.vsix application/octet-stream

            - name: Upload CLI Linux
              uses: JasonEtco/upload-to-release
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              with:
                  args: ./applications/klighd-cli/bin/klighd-linux application/octet-stream

            - name: Upload CLI MacOS
              uses: JasonEtco/upload-to-release
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              with:
                  args: ./applications/klighd-cli/bin/klighd-macos application/octet-stream

            - name: Upload CLI Windows
              uses: JasonEtco/upload-to-release
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              with:
                  args: ./applications/klighd-cli/bin/klighd-win.exe application/octet-stream
